export LIT_JS_SDK_LOCAL_NODE_DEV="true"
export LIT_JS_SDK_FUNDED_WALLET_PRIVATE_KEY="putAFundedPrivateKeyOnChronicleHere"
export LIT_JS_SDK_GITHUB_ACCESS_TOKEN="Github Access Token"
export ETHEREUM_PRIVATE_KEY="Add Private Key"
